p, h1, h2, h3, h4, h5, h6, a{
 font-family: Verdana, Geneva, sans-serif;
}

nav{
  width:730px;
  margin: 0 auto;
  background-color: #ff6600;
  height:20px;
  padding: 1.25px 5px 1.25px 1.25px;
}

nav a{
  text-decoration: none;
  font-size: 12px;
  color:black;
}

nav p{
  margin: 0;
  padding-left: 5px;
  float:left;
  font-weight: bolder;
  font-size: 12px;
  padding-top:2.5px;
}

nav ul{
  float:right;
  margin:0 auto;
}

nav li{
  display: inline-block;
  padding-right: 10px;
  float:left;
}

nav img{
  float:left; 
  border: 1px solid #ffffff;
}

body{
  background-image: url('/cat.png')
}

footer {
  border-top: 3px solid #ff6600;
  bottom: 0;
  padding:20px;
  margin:0 auto;
  width:737px;
  height:100px;
  background-color: rgba(246, 246, 239, .95)
}

footer a{
  text-decoration: none;
  font-size: 12px;
  color:black;
}
footer{
  text-align: center;
}

footer form{
  padding-top: 20px;
  color:rgb(130, 130, 130);
}
.container {
  margin: 0 auto;
  width: 100%;
  background-color: rgba(188, 188, 188, 0.1);
  padding: 10px 0 0 0 ;
}

.content {
  margin: 0 auto;
  width:737px;
  height:750px;
  background-color: rgba(246, 246, 239, .95)
}


.profile-header{
  border: 1px solid;
  float: left;
  width: 99%;
}

.posts{
  border: 1px solid;
  float: left;
  width: 49%;
}

.comments{
  border: 1px solid;
  float: right;
  width: 49%;
}


