<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <div class="container">
    <nav>
      <header><a href="/"><img src="/slackernews.gif"></img></a>
        <p><a href="/">Slacker News</p></a>
        <ul>
          <% if session[:slacker_id] %>
          <li><a href="/post/create">Create Post</a></li
          <li><a href="/user/logout">Log Out</a></li>
          <% else %>
          <li><a href="/user/login">Login</a></li>
         
          <% end %>
        </ul>
      </header>
    </nav>
    <div class="content">
    <%= yield %>
  </div>
  <footer><a href="http://www.reactiongifs.com/wp-content/uploads/2013/02/nope.gif">Stephenitis & </a> | <a href="http://gifs.gifbin.com/012010/1263382623_dog_playing_golf.gif">Ryan</a> | <a href="http://devbootcamp.com">Dev Bootcamp 2013</a> 
  <form>Search: <input type="text"><form> </footer>

</div>
</body>
</html>
