
<form action="/user/login" method="post">
  <input type="text" name="username" placeholder="enter username">
  <input type="text" name="password" placeholder="enter password">
  <input type="submit" value="Login">

</form>
<%= @error %>
